extends layout

include mixins/_storeCard
include mixins/_storeForm

block content
    .subhead Which Texas city has the supreme cuisine? 

    .inner
        div.layout-center
            a(href="/add")
                button.layout-add Add a restaurant to the fight!

        h2 City Rankings
        .ratings 
            .ratings-most-cities
                h2.ratings-subhead Most Restaurants:
                    each city, i in cities 
                        p.ratings-rate #{i + 1}) #{city._id} - #{city.count}
            .ratings-top-reviews   
                h2.ratings-subhead  Best reviews:  
                    each review, i in reviews  
                        p.ratings-rate #{i + 1}) #{review._id} - #{Math.round(review.averageRatingIndex * 100) / 100} / 5

        h2 Top #{tops.length} Restaurants
        table.table
            thead
                td photo
                td ranking
                td name
                td city
                td reviews
                td Average Rating
            each top, i in tops
                tr 
                    td: a(href=`/store/${top.slug}`) 
                        img(width=200 src=`${top.photo || 'store.png'}` alt=top.name)
                    td #{i + 1}
                    td: a(href=`/store/${top.slug}`)= top.name
                    td= top.city
                    td= top.reviews.length
                    td #{Math.round(top.averageRating * 10) / 10}/5
            