extends layout

include mixins/_storeCard

block content
    .subhead Which Texas city has the supreme cuisine? 

    .inner
        h2 City Rankings
        .ratings 
            .ratings-most-cities
                h2.ratings-subhead Most Restaurants:
                    each city, i in cities 
                        p.ratings-rate #{i + 1}) #{city._id} - #{city.count}
            .ratings-top-reviews   
                h2.ratings-subhead  Best reviews:  
                    each review, i in reviews  
                        p.ratings-rate #{i + 1}) #{review._id} - #{Math.round(review.averageRatingIndex * 100) / 100} / 5
        
        a(href="/add") Don't like the rankings? Click here to fight! 

        h2 All Restaurants
        .stores
            each store in stores
                +storeCard(store)
            