extends layout

include mixins/_storeCard
include mixins/_storeForm

block content
    .subhead Which Texas city has the supreme cuisine? 

    .inner
        div.layout-center
            a(href="/add")
                button.layout-add Add a restaurant to the fight!

        h2 City Rankings
        .ratings 
            .ratings-most-cities
                h2.ratings-subhead Most Restaurants:
                    each city, i in cities 
                        p.ratings-rate #{i + 1}) #{city._id} - #{city.count}
            .ratings-top-reviews   
                h2.ratings-subhead  Best reviews:  
                    each review, i in reviews  
                        p.ratings-rate #{i + 1}) #{review._id} - #{Math.round(review.averageRatingIndex * 100) / 100} / 5

        h2 Top #{stores.length} Restaurants
        table.table
            thead
                td photo
                td ranking
                td name
                td city
                td reviews
                td Average Rating
            each store, i in stores
                tr 
                    td: a(href=`/store/${store.slug}`) 
                        img(width=200 src=`${store.photo || 'store.png'}` alt=store.name)
                    td #{i + 1}
                    td: a(href=`/store/${store.slug}`)= store.name
                    td= store.city
                    td= store.reviews.length
                    td #{Math.round(store.averageRating * 10) / 10}/5
            