extends layout

include mixins/_storeCard
block content  
    .inner 
        span Click on the comment icon (
        img.store-icon-display(src="/images/icons/comments.png") 
        span ) to leave a review or the star icon (
        img.store-icon-display(src="/images/icons/star.png")
        span ) to favorite a restaurant! 
        div Use the filter below or the nav search to find restaurants!
        h2.tag-h2 #{tag || 'Filter'} 
        ul.tags
            each t in tags
                li.tag
                    a.tag__link(href=`/tags/${t._id}` class=(t._id === tag ? "tag__link--active" : ""))
                        span.tag__text= t._id
                        span.tag__count= t.count
        h2= title
        .stores
            each store in stores
                +storeCard(store)
            