mixin storeCard(store = {}) 
    .store
        .store_hero
        div #{store.name} #{store.description} #{store.tags} #{store.location} #{store.photo}
        a(href=`/stores/${store.id}/edit`) edit
